@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");

body {
  background:#C9ADA7;
  display: flex;
  font-family: Gotu, sans-serif;
  display: flex;
  justify-content: center;
}

header {
  float: right;
  position: absolute;
  margin: auto;
  width: 80%;
}

/*CABEÇALHO DE APRESENTAÇÃO*/
div.cabecalho {
  background-color: #F2E9E4;
  display: block;
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-radius: 50px;
}

div.cabecalho img#minhaFoto {
  width: 130px;
  position: relative;
  display: block;
  float: left;
  margin-right: 30px;
  margin-left: 20px;
}

div.cabecalho h1 {
  margin-bottom: 8px;
}

/*MENU DE NAVEGAÇÃO*/
nav#menu {
  display: block;
}

nav#menu ul {
  list-style: none;
  position: absolute;
}

nav#menu li {
  display: inline-block;
  padding: 8px 10px;
  margin: 2px 2px 2px;
  text-align: center;
  font-size: 16px;
  background-color: #F2E9E4;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
}

nav#menu a {
  text-decoration: none;
  color: black;
}

nav#menu a:hover {
  text-decoration: underline;
}

/*DIV DE TEXTO*/
div.texto {
  background-color: #F2E9E4;
  width: 75%;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  margin-top: 260px;
  padding: 20px 20px 20px;
}

div.texto p {
  font-size: 16px;
  margin: 2px;
}

/*LISTAS DE ATIVIDADES*/
div.texto ul.atividade {
  list-style: square;
}

div.texto ul.atividade h1 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 4px;
}

a.link {
  text-decoration-line: blink;
  color: black;
}

a.link:hover {
  font-weight: bold;
}